
.ipynb_checkpoints/*
*.pyc
filtered.pickle
typeAB_not_0.pickle
Word2Vec_Example/300features_40minwords_10context
Word2Vec_Example/300features_40minwords_10context_local
Word2Vec_Example/.ipynb_checkpoints/Part3_More_fun_with_word_vectors-checkpoint.ipynb
Word2Vec_Example/.ipynb_checkpoints/Part3_More_fun_with_word_vectors-checkpoint.ipynb
